<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../css/reset.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <script src="https://kit.fontawesome.com/09f69f3f15.js" crossorigin="anonymous"></script>
    <title>SEARCH PAGE</title>
</head>
<body>
    <div class="container">
        <nav>
            <header>
                <div class="logo-nav-header">
                    <img id="logo-header" src="../img/logo.svg">
                    <ul>
                        <li><a href="">home</a></li>
                        <li class="active"><a href="">search</a></li>
                        <li><a href="">profile</a></li>
                    </ul>
                </div>
                <div class="profile-header">
                    <i class="fas fa-bell"></i>
                    <div class="profile-nav">
                        <img src="../img/avatar.png">
                        <div class="profile-nav-username">username</div>
                    </div>
                    <div class="nav-logout">logout</div>
                </div>
                
            </header>
        </nav>
        <main class="ann-main">
            <div class="ann-main-container">
                <section class="ann-filters">
                    <div class="ann-filter">
                        <p class="ann-search-filter">search filter:</p>
                        <p class="ann-search-information">information</p>
                    </div>
                    <div class="ann-filter">
                        <p class="ann-search-filter">search filter:</p>
                        <p class="ann-search-information">information</p>
                    </div>
                    <div class="ann-filter">
                        <p class="ann-search-filter">search filter:</p>
                        <p class="ann-search-information">information</p>
                    </div>
                    <div class="ann-filter">
                        <p class="ann-search-filter">search filter:</p>
                        <p class="ann-search-information">information</p>
                    </div>
                    <div class="ann-filter">
                        <p class="ann-search-filter">search filter:</p>
                        <p class="ann-search-information">information</p>
                    </div>
                    <div class="ann-filter">
                        <p class="ann-search-filter">search filter:</p>
                        <p class="ann-search-information">information</p>
                    </div>
                </section>
                <section class="ann-content">
                    <div class="ann-user-profile-info">
                        <img src="../img/avatar.png">
                        <div>
                            <div class="ann-username">Username</div>
                            <div class="ann-date">2020-12-24</div>
                            <div class="ann-hour">9:37 PM</div>
                        </div>
                    </div>
                    <div class="ann-content">
                        <div class="ann-game-name">Name of the game</div>
                        <div class="ann-desc">Description of type of the gameplay, information about rank in game, current level etc.</div>
                    </div>
                    <button id="invite-button">invite me</button>>
                </section>
                <section class="ann-ratings-section">
                    <div class="ann-ratings-section-heading">Rating <i class="far fa-thumbs-up"></i> <i class="far fa-thumbs-down"></i></div>
                    <div class="ann-ratings">
                        <div class="ann-rating">
                            <img src="../img/avatar.png">
                            <p>username</p>
                            <i class="far fa-thumbs-up"></i>
                            <p>2020-12-24</p>
                        </div>
                        <div class="ann-rating">
                            <img src="../img/avatar.png">
                            <p>username</p>
                            <i class="far fa-thumbs-up"></i>
                            <p>2020-12-24</p>
                        </div>
                        <div class="ann-rating">
                            <img src="../img/avatar.png">
                            <p>username</p>
                            <i class="far fa-thumbs-up"></i>
                            <p>2020-12-24</p>
                        </div>
                        <div class="ann-rating">
                            <img src="../img/avatar.png">
                            <p>username</p>
                            <i class="far fa-thumbs-up"></i>
                            <p>2020-12-24</p>
                        </div>
                        <div class="ann-rating">
                            <img src="../img/avatar.png">
                            <p>username</p>
                            <i class="far fa-thumbs-down"></i>
                            <p>2020-12-24</p>
                        </div>
                    </div>
                </section>
            </div>
        </main>
    </div>
</body>
</html>