<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../css/reset.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <script src="https://kit.fontawesome.com/09f69f3f15.js" crossorigin="anonymous"></script>
    <title>SEARCH PAGE</title>
</head>
<body>
    <div class="container">
        <nav>
            <header>
                <div class="logo-nav-header">
                    <img id="logo-header" src="../img/logo.svg">
                    <ul>
                        <li><a href="">home</a></li>
                        <li class="active"><a href="">search</a></li>
                        <li><a href="">profile</a></li>
                    </ul>
                </div>
                <div class="profile-header">
                    <i class="fas fa-bell"></i>
                    <div class="profile-nav">
                        <img src="../img/avatar.png">
                        <div class="profile-nav-username">username</div>
                    </div>
                    <div class="nav-logout">logout</div>
                </div>
                
            </header>
        </nav>
        <main class="search-main">
            <section class="search-filters">
                <h2>filters</h2>
                <form class="search-bar">
                    <input type="text" name="search" placeholder="search for a game">
                    <button id="search button"><i class="fas fa-search"></i></button>
                </form>
                <div class="filter-container opened">
                    <div class="search-filter">
                        <p>search filter</p>
                        <i class="far fa-caret-square-down"></i>
                    </div>
                    <div class="filters">
                        <label class="filter">
                            <input type="checkbox" name="filter" checked>
                            <p>option selected</p>
                        </label>
                        <label class="filter">
                            <input type="checkbox" name="filter">
                            <p>option not selected</p>
                        </label>
                        <label class="filter">
                            <input type="checkbox" name="filter">
                            <p>option not selected</p>
                        </label>
                        <label class="filter">
                            <input type="checkbox" name="filter">
                            <p>option not selected</p>
                        </label>
                    </div>
                </div>
                <div class="filter-container opened">
                    <div class="search-filter">
                        <p>search filter</p>
                        <i class="far fa-caret-square-down"></i>
                    </div>
                    <div class="filters">
                        <label class="filter">
                            <input type="checkbox" name="filter" checked>
                            <p>option selected</p>
                        </label>
                        <label class="filter">
                            <input type="checkbox" name="filter">
                            <p>option not selected</p>
                        </label>
                        <label class="filter">
                            <input type="checkbox" name="filter">
                            <p>option not selected</p>
                        </label>
                        <label class="filter">
                            <input type="checkbox" name="filter">
                            <p>option not selected</p>
                        </label>
                    </div>
                </div>
                <div class="filter-container opened">
                    <div class="search-filter">
                        <p>search filter</p>
                        <i class="far fa-caret-square-down"></i>
                    </div>
                    <div class="filters">
                        <label class="filter">
                            <input type="checkbox" name="filter" checked>
                            <p>option selected</p>
                        </label>
                        <label class="filter">
                            <input type="checkbox" name="filter">
                            <p>option not selected</p>
                        </label>
                        <label class="filter">
                            <input type="checkbox" name="filter">
                            <p>option not selected</p>
                        </label>
                        <label class="filter">
                            <input type="checkbox" name="filter">
                            <p>option not selected</p>
                        </label>
                    </div>
                </div>
                <div class="filter-container opened">
                    <div class="search-filter">
                        <p>search filter</p>
                        <i class="far fa-caret-square-down"></i>
                    </div>
                    <div class="filters">
                        <label class="filter">
                            <input type="checkbox" name="filter" checked>
                            <p>option selected</p>
                        </label>
                        <label class="filter">
                            <input type="checkbox" name="filter">
                            <p>option not selected</p>
                        </label>
                        <label class="filter">
                            <input type="checkbox" name="filter">
                            <p>option not selected</p>
                        </label>
                        <label class="filter">
                            <input type="checkbox" name="filter">
                            <p>option not selected</p>
                        </label>
                    </div>
                </div>
                <div class="filter-container">
                    <div class="search-filter">
                        <p>search filter</p>
                        <i class="far fa-caret-square-down"></i>
                    </div>
                    <div class="filters">
                        <label class="filter">
                            <input type="checkbox" name="filter" checked>
                            <p>option selected</p>
                        </label>
                        <label class="filter">
                            <input type="checkbox" name="filter">
                            <p>option not selected</p>
                        </label>
                        <label class="filter">
                            <input type="checkbox" name="filter">
                            <p>option not selected</p>
                        </label>
                        <label class="filter">
                            <input type="checkbox" name="filter">
                            <p>option not selected</p>
                        </label>
                        <label class="filter">
                            <input type="checkbox" name="filter">
                            <p>option not selected</p>
                        </label>
                        <label class="filter">
                            <input type="checkbox" name="filter">
                            <p>option not selected</p>
                        </label>
                        <label class="filter">
                            <input type="checkbox" name="filter">
                            <p>option not selected</p>
                        </label>
                    </div>
                </div>

            </section>
            <section class="announcements">
                <div class="announcement">
                    <img src="../img/avatar.png">
                    <div class="announcement-username-date">
                        <p class="announcement-username">Username</p>
                        <p class="announcement-date">2020-12-24</p>
                        <p class="announcement-hour">9:37 PM</p>
                    </div>
                    <div class="announcement-content">
                        <p class="announcement-game-name">Name of the game</p>
                        <p class="announcement-desc">Description of type of the gameplay, information about rank in game, current level etc.</p>
                    </div>
                </div>
                <div class="announcement">
                    <img src="../img/avatar.png">
                    <div class="announcement-username-date">
                        <p class="announcement-username">Username</p>
                        <p class="announcement-date">2020-12-24</p>
                        <p class="announcement-hour">9:37 PM</p>
                    </div>
                    <div class="announcement-content">
                        <p class="announcement-game-name">Name of the game</p>
                        <p class="announcement-desc">Description of type of the gameplay, information about rank in game, current level etc.</p>
                    </div>
                </div>
                <div class="announcement">
                    <img src="../img/avatar.png">
                    <div class="announcement-username-date">
                        <p class="announcement-username">Username</p>
                        <p class="announcement-date">2020-12-24</p>
                        <p class="announcement-hour">9:37 PM</p>
                    </div>
                    <div class="announcement-content">
                        <p class="announcement-game-name">Name of the game</p>
                        <p class="announcement-desc">Description of type of the gameplay, information about rank in game, current level etc.</p>
                    </div>
                </div>
                <div class="announcement">
                    <img src="../img/avatar.png">
                    <div class="announcement-username-date">
                        <p class="announcement-username">Username</p>
                        <p class="announcement-date">2020-12-24</p>
                        <p class="announcement-hour">9:37 PM</p>
                    </div>
                    <div class="announcement-content">
                        <p class="announcement-game-name">Name of the game</p>
                        <p class="announcement-desc">Description of type of the gameplay, information about rank in game, current level etc.</p>
                    </div>
                </div>
                <div class="announcement">
                    <img src="../img/avatar.png">
                    <div class="announcement-username-date">
                        <p class="announcement-username">Username</p>
                        <p class="announcement-date">2020-12-24</p>
                        <p class="announcement-hour">9:37 PM</p>
                    </div>
                    <div class="announcement-content">
                        <p class="announcement-game-name">Name of the game</p>
                        <p class="announcement-desc">Description of type of the gameplay, information about rank in game, current level etc.</p>
                    </div>
                </div>
                <div class="announcement">
                    <img src="../img/avatar.png">
                    <div class="announcement-username-date">
                        <p class="announcement-username">Username</p>
                        <p class="announcement-date">2020-12-24</p>
                        <p class="announcement-hour">9:37 PM</p>
                    </div>
                    <div class="announcement-content">
                        <p class="announcement-game-name">Name of the game</p>
                        <p class="announcement-desc">Description of type of the gameplay, information about rank in game, current level etc.</p>
                    </div>
                </div>
                <div class="announcement">
                    <img src="../img/avatar.png">
                    <div class="announcement-username-date">
                        <p class="announcement-username">Username</p>
                        <p class="announcement-date">2020-12-24</p>
                        <p class="announcement-hour">9:37 PM</p>
                    </div>
                    <div class="announcement-content">
                        <p class="announcement-game-name">Name of the game</p>
                        <p class="announcement-desc">Description of type of the gameplay, information about rank in game, current level etc.</p>
                    </div>
                </div>
                <div class="announcement">
                    <img src="../img/avatar.png">
                    <div class="announcement-username-date">
                        <p class="announcement-username">Username</p>
                        <p class="announcement-date">2020-12-24</p>
                        <p class="announcement-hour">9:37 PM</p>
                    </div>
                    <div class="announcement-content">
                        <p class="announcement-game-name">Name of the game</p>
                        <p class="announcement-desc">Description of type of the gameplay, information about rank in game, current level etc.</p>
                    </div>
                </div>
                <div class="announcement">
                    <img src="../img/avatar.png">
                    <div class="announcement-username-date">
                        <p class="announcement-username">Username</p>
                        <p class="announcement-date">2020-12-24</p>
                        <p class="announcement-hour">9:37 PM</p>
                    </div>
                    <div class="announcement-content">
                        <p class="announcement-game-name">Name of the game</p>
                        <p class="announcement-desc">Description of type of the gameplay, information about rank in game, current level etc.</p>
                    </div>
                </div>
                <div class="announcement">
                    <img src="../img/avatar.png">
                    <div class="announcement-username-date">
                        <p class="announcement-username">Username</p>
                        <p class="announcement-date">2020-12-24</p>
                        <p class="announcement-hour">9:37 PM</p>
                    </div>
                    <div class="announcement-content">
                        <p class="announcement-game-name">Name of the game</p>
                        <p class="announcement-desc">Description of type of the gameplay, information about rank in game, current level etc.</p>
                    </div>
                </div>
                <div class="announcement">
                    <img src="../img/avatar.png">
                    <div class="announcement-username-date">
                        <p class="announcement-username">Username</p>
                        <p class="announcement-date">2020-12-24</p>
                        <p class="announcement-hour">9:37 PM</p>
                    </div>
                    <div class="announcement-content">
                        <p class="announcement-game-name">Name of the game</p>
                        <p class="announcement-desc">Description of type of the gameplay, information about rank in game, current level etc.</p>
                    </div>
                </div>
                <div class="announcement">
                    <img src="../img/avatar.png">
                    <div class="announcement-username-date">
                        <p class="announcement-username">Username</p>
                        <p class="announcement-date">2020-12-24</p>
                        <p class="announcement-hour">9:37 PM</p>
                    </div>
                    <div class="announcement-content">
                        <p class="announcement-game-name">Name of the game</p>
                        <p class="announcement-desc">Description of type of the gameplay, information about rank in game, current level etc.</p>
                    </div>
                </div>
                <div class="announcement">
                    <img src="../img/avatar.png">
                    <div class="announcement-username-date">
                        <p class="announcement-username">Username</p>
                        <p class="announcement-date">2020-12-24</p>
                        <p class="announcement-hour">9:37 PM</p>
                    </div>
                    <div class="announcement-content">
                        <p class="announcement-game-name">Name of the game</p>
                        <p class="announcement-desc">Description of type of the gameplay, information about rank in game, current level etc.</p>
                    </div>
                </div>
            </section>
        </main>
    </div>
</body>
</html>