body{
    margin: 0;
    font: normal 11px sans-serif;
}
.fas, .fa{
    color: #D2D2D2
}
.container{
    max-width: 100vw;
    height: 100vh;
    background: #202020;
    overflow: hidden;
}
nav header {
    background: #880000;
    position: fixed;
    top:0;
    left:0;
    width: 100vw;
    height: 9vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: flex-start;
    justify-content: space-between;
}

.logo-nav-header, .profile-header{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
    
}
.profile-header .profile-nav{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
}
.profile-nav, .nav-logout{
    font-size: 2em;
}
.profile-nav img{
    height: 80% !important;
    margin-right: 0.5em;
}
.profile-header{
    
    color: #D2D2D2
}
.profile-header > *{
    margin-right: 1em;
}

.profile-header .fas{
    font-size: 3em;
}
.logo-nav-header ul{
    list-style-type: none;
    font-size: 2em;
    letter-spacing: 0;
    
}
.logo-nav-header li{
    float: left;
    margin-right: 1em;
}
.logo-nav-header li a{
    color: #D2D2D2;
    text-decoration: none;
    width: 100%;
    height: 100%;
}

.logo-nav-header li.active a{
    text-decoration: underline;
}
.logo-nav-header li a:hover{
    text-decoration: underline;
}
main{
    width: 100%;
    max-height: 91vh;
    padding-top: 9vh;
    display: flex;
    flex-direction: row;
    clear: both;
    
}

section.search-filters{
    width:20%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-items: center;
    padding:2em;
    background: #300000;
    overflow-y: auto;
}
.search-filters:last-child{
    margin-bottom: 0;
}
.search-filters h2{
    color: #D4D4D4;
    font-size: 1.5em;
    margin-bottom: 1.5em;
    
}

.search-bar {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
    justify-items: space-between;
    margin-bottom: 2em;
    width: 90%;
    height: 2.5em;
    border-radius:1em;
    background: #00000080;
}
.search-bar *{
    height: 100%;
    padding: 0;
    margin:0;
}
.search-bar input{
    border:none;
    background: none;
    padding-left: 1em;
    width:90%;
    color: #d4d4d4;
}
.search-bar input:focus{
    outline: none;
}
.search-bar button:focus{
    outline:none;
}
.search-bar button{
    padding:0.5em;
    width: 10%;
    border:none;
    background: none;
    color: #909090;
    padding-right: 1.5em;
    border-right: 1px solid #909090;
}

.filter-container{
    margin-bottom: 4em;
    width:90%;
    background: #00000080;
    border-radius: 1.3em;
    display: flex;
    flex-direction: column;
    max-height: 3em;
    transition-duration: 0.5s;
}
.filter-container .search-filter{
    color: #d2d2d2;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}
.search-filter > *{
    margin-top: 1em;
}
.search-filter p{
    margin-left:2em;
}
.search-filter i{
    margin-right: 2em;
}

.filter-container .filters{
    margin-top:0.6em;
    width:100%;
    display: flex;
    opacity: 0;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    transition-duration: 0.5s;
    max-height: 0;
}
.opened{
    max-height: 100%;
    transition-duration: 0.5s;
}
.opened .filters{
    opacity: 1;
    max-height: 100%;
    transition-duration: 1s;
}

.filters .filter{
    margin-top:0.5em;
    margin-left:3em;
    color:#909090;
    width:100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.filters:last-child{
    margin-bottom: 0.5em;
}

#logo-header {
    height: 80%;
    margin-left: 5em;
    margin-right: 5em;
}
section.announcements{
    display: grid;
    grid-template-columns: repeat(4, 24%);
    grid-auto-rows: 29em;
    grid-gap: 1em;
    padding: 2em;
    width:80%;
    overflow-y: auto;
    min-height: 100%;
}
.announcement{
    background: #00000080;
    border-radius: 1.5em;
    padding:2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}
.announcement img{
    height: 9em;
    width: 9em;
}
.announcement .announcement-username{
    font-size: 1.6em;
    color:#D4D4D4;

}
.announcement-date, .announcement-hour{
    font-size: 1.2em;
    color:#636363;
}
.announcement-game-name{
    font-size: 1.6em;
    color:#D4D4D4;
}
.announcement-desc{
    margin-top: 0.7em;
    font-size: 1.3em;
    color:#909090;
}

.login{
    background: transparent linear-gradient(180deg, #880000 0%, #000000 100%) 0% 0% no-repeat padding-box;
    overflow:hidden;
}
.logo-container{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    margin-top:5vh;
    margin-bottom:5vh;
    width:85%;
    align-items: center;
    justify-content: center;
}
.logo-container *{
    color: #ffffff80;
}
.logo-svg{
    height:20vh;
}
.logo-svg img{
    height: 100%;
}
.logo-text{
    font-size: 2.5em;
    margin-left:5vw;
    background: #00000080;
    border-radius: 30px;
    width:70vw;
    height: 20vh;
    line-height: 20vh;
    text-align: center;
    text-overflow: clip;
    overflow: hidden;
}
.forms-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width:85%;
    height: 60vh;
    align-items: center;
    background: transparent linear-gradient(180deg, #00000047 0%, #16161647 100%) 0% 0% no-repeat padding-box;
    border-radius: 30px;
    margin:auto;

}
.forms-container div{
    height: 100%;
    width:50%;
}
.sing-up-form{
    border-right-style: solid;
    border-right-color: #ffffff80;
    border-right-width: 1px;
}
.forms-container form{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
}
.forms-container input{
    background: white;
    border:none;
    color:#565656;
    border-radius: 32px;
    width:50%;
    height: 2.5em;
    margin-bottom: 3vh;
    padding-left:1vw;
    padding-right:1vw;
    font-size:large;
}
.forms-container button{
    background:#880000;
    border:none;
    color:white;
    border-radius: 32px;
    width:55%;
    height: 2.5em;
    font-size:large;
}

@media only screen and (max-device-width: 1000px){
    .logo-container{
        flex-direction: column;
    }
    .logo-text{
        font-size: 3em;
        margin-left: 0;
        margin-top: 5vh;
        line-height: 5em;
        height: 5em;
        width:85vw;
        
    }
    .logo-svg{
        height: 16em;
    }
    .forms-container{
        flex-direction: column-reverse;
        height: auto;
        margin-bottom: 5em;
    }
    .forms-container div{
        height: auto;
        width:100%;
        
    }
    .log-in-form{
        margin-top: 5em;
    }
    .sing-up-form{
        padding-top: 5em;
        margin-bottom: 5em;
        border-right:none;
        border-top: 1px solid #ffffff80;
    }
    .forms-container form{
        margin-bottom:5em;
    }

    .forms-container input, .forms-container button{
        width:80%;
        font-size: 2.5em;
        height: 4em;
    }
    .forms-container button{
        width:82%;
    }
}
